@import '../../styles.scss';
h1 {
    width: 100%;
    color: $btn_text_color;
    text-align: center;
    font-weight: bold;
    z-index: 999;
}

@media (max-width: "768px"){
   h1 {
    font-size: 32px;
}


}