
.navbar{
    margin: 0 0 0 0;
    /*display: inline-block;*/
    /*position: fixed;      
    width: 100%;  */
}



a{
    font-size: 15px;
}


 /*@media (min-width: 768px) {
    .navbar {
        position: fixed;
        top: 70px;
        width: 67.3%;
        
    }
}*/

/*.router-outlet{
    margin-top: 63px;
}*/