@import '../../styles.scss';

section.list-group{
    margin-bottom: 8px;
}

a{
    border-left: 10px solid $btn_bg_light_color;
    background-color: $post_bg_color
}   

a:hover{
    background-color: $post_hov_color;
} 

p.latest-posts {
    color: $label_text_color;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 0 0;
    
}

div.counter {
    font-size: 14px;
    color: $label_text_color;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
}

h3 {
     text-align: center;
     font-size: 20px;
     color: $btn_text_color;
}