@import '../../styles.scss';
h4 {
    color: $label_text_color;
    font-weight: bold;
}

.delete{
  background-color: $btn_bg_dark_color; 
}

.read{
  background-color: $btn_bg_light_color;
}

pre{
    text-align: justify;
    white-space: pre-wrap;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: $main_font_size;
    color: $blog_text_color;
    border: 0px;
    word-break: normal;
    word-wrap: normal;
    padding: 0;

    display: block;
    margin: 20px, 10px, 5px, 5px;
    display: -webkit-box;
    height: 70 px;
    margin: 0;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}






