<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav" >     
      <li class="toolbar" [routerLinkActive]="['active']"><a routerLink="/home"  >Home</a></li>
      <li class="toolbar" [routerLinkActive]="['active']"><a routerLink="/newpost" >New Post</a></li> 
      <!--<li class="toolbar mobile" [routerLinkActive]="['active']"><a routerLink="/sidemenu" >Latest</a></li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right" >     
      <li class="toolbar mobile" [routerLinkActive]="['active']"><a routerLink="/sidemenu" >Latest</a></li> 
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
       
        