@import '../styles.scss';

.col-sm-10{    
     border-left: 5px solid $btn_bg_light_color;
     }

app-main-section {
    margin: 0 0 0 20px;
}

app-top-header{
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0;
        height: 70px;
        background: $main_bg_color; 
}

app-sidemenu {
        position: fixed;
        top: 70px;
        width: 10.5%;       
    }
 

.container {
    margin-top: 60px;
}


@media (max-width: 767px) {
    .col-sm-10{    
        border-left: 0;
        }
    app-sidemenu {
       display: none;      
    }
    .container {
    margin-top: 45px;
   }

   app-top-header{
        height: 60px;
    }
}



