// $primary-white: #ECECEA;

// .fixed-top {
//     width: 100%;
//     color: $primary-white;
//     text-align: center;
//     font-weight: bold;
//     z-index: 999;
// }

.col-sm-10{    
     border-left: 5px solid #558C89;
     }

app-postview {
    margin: 0 0 0 20px;
}


app-top-header{
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0;
        height: 70px;
        background: #74AFAD;
}

.container {
    margin-top: 60px;
}

@media (min-width: 768px) {
    app-sidemenu {
        position: fixed;
        top: 70px;
        width: 10.5%;
        
    }
}