$main_bg_color: #74AFAD;
$main_font: 'Roboto', Arial, Helvetica, sans-serif;
$main_font_size: 14px;

$blog_text_color: #757575;
$label_text_color: #333;

$btn_text_color: #ECECEA;
$btn_bg_dark_color: #222;
$btn_bg_light_color: #558C89;
$btn_hov_text_color: white;

$post_bg_color: #f5f5f5;
$post_hov_color: #e8e8e8;


body {
    margin: 0;
    padding: 0;
    font-family: $main_font;
    height: 100%;
    color: $blog_text_color;
    background-color: $main_bg_color;
    overflow-y: scroll;
}

.btn {
  color: $btn_text_color;
  margin-top: 20px;
}

.btn:hover {
  color: $btn_hov_text_color;
}

.well-lg{
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    border-radius: 8px;  
}

.post-date{
    font-weight: bold;
    float:right;
    padding: 10px;
}
