@import '../../../styles.scss';

.well{
    border-radius: 8px;
}

.cancel{
  background-color: $btn_bg_dark_color; 
}

.publish{
  background-color: $btn_bg_light_color; ; 
}

label{
    font-size: 18px;
    color: $label_text_color; 
    font-weight: bold;
    text-align: center;
    text-indent: 10px;
    padding-bottom: 10px;
}


.datepicker{
  display: inline;
  position: absolute;
  right: 40px;
}

textarea{
  max-width: 100%;
}